.h2-ms, .team {
  text-align: center;
  font-size: 30px;
  color: #253D52;
  font-weight: 900;
}

.p-ms {
  text-align: center;
  font-size: 25px;
  color: #253D52;
}

.mission-statement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui;
}

