/* .mission-statement {
  margin: 0 auto;
} */
.h2-ms,
.p-ms {
  text-align: center;
}

.h2-ms {
  color: #240754;
  font-size: 1.15rem;
  
}

/* .all-contributors-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
} */

.contributor-card-container {
  padding: 1rem;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    grid-gap: 1rem;
  /* display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; */
}


