.h2-ms,
.p-ms {
  text-align: center;
}

.h2-ms {
  color: #240754;
  font-size: 1.15rem;
}

.contributor-card-container {
  padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    grid-gap: 1rem;
}


