/* .category-card {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 10px;
  height: 40vh;
  aspect-ratio: 1/1;
  margin: 10px;
  background-color: hsl(125, 65%, 93%);
  color: hsl(125, 86%, 14%)
} */

.img {
  height: 30vh;
}

.cat-title {
  font-size: 4vh;
  margin: 0;
  padding: 1rem;
}

.cat-def {
  margin-bottom: .5rem;
  margin-top: 0;
  font-size: 2vh;
  font-weight: 600;
}

.def-cont {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}