.container {
  position: relative;
  width: 40vw;
  height: 50vh;
}

.commentcard {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.containerText {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding-bottom: 1rem;
}

.comment-title {
  color: #1d476e;
  font-weight: 900;
}

.liked-comment .primary,
.liked-comment .secondary {
  fill: #c2d2e8;
}

.disliked-comment .primary,
.disliked-comment .secondary {
  fill: #FFE8D9
}

.disliked-comment {
  transform: scaleX(-1);
}