.container {
  position: relative;
  min-width: 23rem;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentcard {
    padding: 1rem;
    box-sizing: border-box;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 1rem;
}

.user-comment {
  margin-top: 1rem;
  margin-bottom: 2.7rem;

}
.comment-title {
  color: #1d476e;
  font-weight: 900;
  font-size: 1rem;
  margin: 0px;
}

.liked-comment .primary,
.liked-comment .secondary {
  fill: #FCE8C7;
  padding: 0rem;
}

.liked-comment, .disliked-comment {
  transform: scaleX(-1.5);

}

.disliked-comment .primary,
.disliked-comment .secondary {
  fill: #F2BFAD;
  padding: 0rem;
}

