@keyframes slideDown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error-bad-route-container {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 800px;
  height: 670px;
  border-radius: 20px;
  border: 3px solid rgba(221, 229, 234, 0.6);
  background-color: rgba(4, 35, 14, .7);
  margin-bottom: 35px;
  margin-top: 35px;
  text-decoration: none;
  box-shadow: 0 0 15px 3px rgba(97, 62, 159, 0.4);
  border: solid 3px hsl(125, 56%, 29%);
  animation: slideDown 1.0s ease-out forwards;
  transition: all 0.5s ease-out;
}

.error-bad-route-image {
  width: 700px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 15px 3px rgb(133, 170, 160);
  border: solid 3px hsl(125, 56%, 29%);
}

.error-bad-route-message {
  color: hsl(0, 0%, 97%);
  font-family: 'Merriweather', serif;
  font-weight: 900px;
  font-size: 25px;
  margin-top: 20px;
  animation: spin 3s linear 1;
  animation-fill-mode: forwards;
}

.error-bad-route {
  text-align: center;
  color: hsl(0, 0%, 97%);
  font-size: 30px;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  margin: 15px;
  margin-top: 5px;
}

.error-details {
  display: flex;
  justify-content: center;
}
