header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFAEB; 
  height: 75px;
  padding: 2rem;
  box-sizing: border-box;
  padding-bottom: 2rem;
  z-index: 100;
}

.logo {
  max-height: 330px;
  max-width: 300px;
}

/* .header-title {
  display: flex;
  color: hsl(263, 85%, 18%);
  font-size: 18px;
  font-weight: 900;
} */

.title {
  display: flex;
  align-items: center;
  color: hsl(263, 85%, 18%);
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  margin-bottom: 0px;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.help-logo {
  height: 5rem;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.button-container {
  display: flex;
}

.about-button,
.login-button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* width: 6%; */
  padding: 0.6rem; 
  /* padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem; */
  color: #373F46;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 45px;
  margin-left: .5rem;
  margin-right: .5rem;
}

.login-button, .about-button {
  background-color: #FFE8D9;
  color: #253D52;
  border-color: #253D52;
  /* background-color: #B7C8DE; */
}

.about-button:hover {
  background-color: #253D52;
  color: #FFE8D9;
  transition: .3s;
}

.login-button:hover {
  background-color: #253D52;
  color: #FFE8D9;
  transition: .3s;
}

.login-button-container {
  display: flex;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


