header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background: linear-gradient(hsl(122, 42%, 75%)
  , hsl(123, 38%, 63%));
  top: 0px;
  height: 10vh;
  padding: 2rem;
  box-sizing: border-box;
  padding-bottom: 2rem;
  z-index: 100;
}

.logo {
  max-height: 8vh;
  max-width: 50vw;
}

.header-title {
  display: flex;
  color: hsl(263, 85%, 18%);
  font-size: 18px;
  font-weight: 900;
}

.title {
  display: flex;
  align-items: center;
  color: hsl(263, 85%, 18%);
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  margin-bottom: 0px;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.help-logo {
  height: 5rem;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.button-container {
  display: flex;
}

.about-button,
.login-button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid #cce3de;
  width: 10vw;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #f6fff8;
  font-size: 1.5vw;
  font-weight: 600;
  border-radius: 15px;
  margin-left: .5rem;
  margin-right: .5rem;
}

.login-button {
  background-color: rgba(66, 25, 135, .7);
}

.about-button {
  background-color: rgba(4, 35, 14, .7);
}

.about-button:hover {
  background-color: rgba(4, 35, 14, 1);
  transition: .3s;
}

.login-button:hover {
  background-color: rgba(66, 25, 135, 1);
  transition: .3s;
}

.login-button-container {
  display: flex;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}