*, 
*::before, 
*::after {
  box-sizing: border-box;
}
.splash-image {
  display: flex;
  background-image: url("../assets/background-transparent.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  padding-top: 20px;
}

.splash-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.AT-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(0, 0%, 97%);
  text-shadow: 2px 2px 4px hsl(0, 0%, 13%);
  font-size: 1.2rem;
  box-sizing: border-box;
  height: 50vh;
  width: 35vw;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;
  background: linear-gradient(
    rgba(60, 128, 110, 0.6),
    rgba(64, 121, 102, 0.6)
);
  color: hsl(0, 0%, 97%);
  border-color: hsl(125, 56%, 29%);
  text-decoration: none;
  box-shadow: 0 0 15px 3px   rgba(60, 128, 110, 1),;
  animation: slideInFromLeft 0.5s ease-out forwards;
  position: relative;
  z-index: 2;
}

.info-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #253D52;
  font-size: 25px;
}

.find-AT-button,
.learn-AT-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 250px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  z-index: 2;
  position: relative;
  
  margin-left: 0;
  margin-bottom: 0;
}

.find-AT-button, .learn-AT-button {
  background-color: #FCE8C7;
  color: #253D52;
}

.find-AT-button:hover, .learn-AT-button:hover {
  background-color: #B7C8DE;
  transition: .3s;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 13%);
  opacity: .7;
  pointer-events: none;
  z-index: 1;
} */

button:hover {
  cursor: pointer;
}

/* .welcome-header{
  text-align: center;
  font-size: 60px;
  color: #192933;
  background-color: #3E4C59;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 900;
  width: 100%;
} */

.main-page-text {
  background-color: #FFE8D9; 
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.info-description {
  font-size: 1.5vw;
  text-align: left;
}

.what-is-at {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2vw;
}

.AT-magnify-image, .robot-learn-more-image {
  height: 200px;
  width: 200px;
}