.splash-background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-image: url("../assets/background1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.splash-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.AT-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(0, 0%, 97%);
  text-shadow: 2px 2px 4px hsl(0, 0%, 13%);
  font-size: 1.2rem;
  box-sizing: border-box;
  height: 50vh;
  width: 35vw;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;
  background: linear-gradient(
    rgba(60, 128, 110, 0.6),
    rgba(64, 121, 102, 0.6)
);
  color: hsl(0, 0%, 97%);
  border-color: hsl(125, 56%, 29%);
  text-decoration: none;
  box-shadow: 0 0 15px 3px   rgba(60, 128, 110, 1),;
  animation: slideInFromLeft 0.5s ease-out forwards;
  position: relative;
  z-index: 2;
}

.info-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  color:hsl(0, 0%, 97%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-size: 2vw;
  font-weight: 600px;
  width: 50vw;
  height: 80vh;
  z-index: 2;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 3rem;
  background:  rgba(66, 25, 135, .4);
  /* background: linear-gradient(
    rgba(60, 128, 110, 0.6),
    rgba(64, 121, 102, 0.6)
); */
border-radius: 15px;
}

.find-AT-button,
.learn-AT-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: none;
  border-radius: 10px;
  width: 20vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Merriweather', serif;
  font-size: 1.2vw;
  font-weight: 600;
  text-decoration: none;
  z-index: 2;
  position: relative;
  margin: 1rem;
  margin-left: 0;
  margin-bottom: 0;
}

.find-AT-button {
  background-color: rgba(4, 35, 14, .7);
  box-shadow: 0 0 7px 1px hsl(125, 65%, 93%);
  color: hsl(125, 65%, 93%)
}

.learn-AT-button {
  box-shadow: 0 0 7px 1px hsl(125, 65%, 93%);
  color: hsl(125, 65%, 93%);
  background-color: rgba(4, 35, 14, .4);
}

.find-AT-button:hover, .learn-AT-button:hover {
  background-color: rgba(4, 35, 14, 1);
  transition: .3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: hsl(125, 86%, 14%);
  opacity: .8; */
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-color: hsl(0, 0%, 13%);
  opacity: .7;
  pointer-events: none;
  z-index: 1;
}

button:hover {
  cursor: pointer;
}

.welcome-header{
  margin: 0;
  font-size: 3,5vw;
}

.info-description {
  font-size: 1.5vw;
  text-align: left;
}

.what-is-at {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2vw;
}