*, 
*::before, 
*::after {
  box-sizing: border-box;
}
.splash-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/background-transparent.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  max-width: 900px;
  padding-top: 20px;
  margin: 0 auto; 
}

.splash-image::after {
  content: '';
  display: block;
  height: 5px;
  margin-top: 485px;
  background-color: #869EB6;
  width: 100%;
}

.splash-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  background:#253D52;

}

.splash-button-container::before, .splash-button-container::after {
  content: '';
  position: absolute; 
  width: 100%;
  height: 70px;
  background: #869EB6;
}

.splash-button-container::before {
  top: 0;
}

.splash-button-container::after {
  bottom: 0;
  transform: rotate(.5turn)
}

.AT-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(0, 0%, 97%);
  text-shadow: 2px 2px 4px hsl(0, 0%, 13%);
  font-size: 1.2rem;
  box-sizing: border-box;
  height: 50vh;
  width: 35vw;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;
  background: linear-gradient(
    rgba(60, 128, 110, 0.6),
    rgba(64, 121, 102, 0.6)
);
  color: hsl(0, 0%, 97%);
  border-color: hsl(125, 56%, 29%);
  text-decoration: none;
  box-shadow: 0 0 15px 3px   rgba(60, 128, 110, 1),;
  animation: slideInFromLeft 0.5s ease-out forwards;
  position: relative;
  z-index: 2;
}

.info-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #253D52;
  font-size: 25px;
}

.find-AT-button,
.learn-AT-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: none;
  border-radius: 20px;
  min-width: 5rem;
  min-height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Merriweather', serif;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
  z-index: 2;
  position: relative;
  border: 3px solid #dfcdc1;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 17px;
  margin-left: 17px;
}

.find-AT-button, .learn-AT-button {
  background-color: #FCE8C7;
  color: #253D52;
}

.find-AT-button:hover, .learn-AT-button:hover {
  background-color: #d1c0b2;
  transition: .3s;
  transform: scale(1.1); 
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.find-AT-button:active, .learn-AT-button:active {
  background-color: #F2BFAD; 
  transition: background-color 0.1s ease; 
}


button:hover {
  cursor: pointer;
}

.main-page-text {
  background-color: #F2BFAD; 
  font-size: 2.2rem;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 0px;
  font-weight: 600;
}

.main-page-text-2 {
  background-color: #F2BFAD; 
  font-size: 1.7rem;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: 600;
}

.info-description {
  font-size: 1.5vw;
  text-align: left;
}

.what-is-at {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2vw;
}

.AT-magnify-image, .robot-learn-more-image {
  height: 17rem;
  max-width: 15.2rem;
}