.results-cont {
  display: flex;
  flex-direction: column;
  width: 80vw;
  /* align-items: center; */
  justify-content: center;
}

.Results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-headings {
  display: flex;
  justify-content: space-between;
}

.result-head {
  color: gray
}

.active-filter {
  color: black
}

.result-head:hover {
  cursor: pointer;
}

/* .results-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */