.Tech-card {
  width: 40vw;
  border: 2px solid black;
  margin: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tech-card:hover {
  cursor: pointer;
}

.tech-coll {
  display: flex;
  flex-direction: column;
  align-items: center;
}