.assistive-tech-h2 {
    color: #253D52;
    position: relative;
    display: flex;
    padding: 1rem;
  
}

  .assistive-tech-information {
    position: relative;
    background-image: linear-gradient(45deg, #FCE8C7, #FFFAEB, #FCE8C7);
    padding: 2rem;
    margin: 2rem;
  }

  .assistive-tech-information::after {
    content: '';
    background-color: #dfcdc1;
    position: absolute;
    inset: 0;
    transform: skewY(-2deg);
    z-index: -1;
  }

  .examples-tech-h2 {
    color: #253D52;
    position: relative;
    padding: 1rem;
  }

  .examples-assistive-tech {
    position: relative;
    background-image: linear-gradient(45deg, #FCE8C7, #FFFAEB, #FCE8C7);
    padding: 2rem;
    margin: 3rem;
  }

  .examples-assistive-tech::after {
    content: '';
    background-color: #dfcdc1;
    position: absolute;
    inset: 0;
    transform: skewY(-2deg);
    z-index: -1;
  }

  .assistive-tech-education-h2 {
    color: #253D52;
    position: relative;
    display: flex;
    padding: .25rem;
  }

.content-container {
    position: relative;
}

.learnat-h3 {
  padding-top: 30px;
  margin: 1rem;
  color: #32536f;
  font-size: 1.3rem;
}

.learnat-a:link,
.learnat-a:active,
.learnat-a:visited {
    /* color: blue; */
    color: #2D3A8C
}

.learnat-a:focus,
.learnat-a:hover {
  border: none;
  outline: none;
  color: #FFFAEB;
  background-color: #4D63B6;
}

/* .learnat-a:visited {
color: #653CAD;
color: #2D3A8C
} */

.learn-At-image {
    display: flex;
    width: 100%;
    height: 150px;
    align-content: center;
}

.heading-title-h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blind-h3-info, .reading-title-h3, .reading-h3-info, .physical-title-h3, .physical-h3-info, .blind-title-h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem; 
  margin-right: 1rem;
  background-color: #dfcdc1;
  width: 100vw;

}

.heading-h3-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem; 
  margin-right: 1rem;
}

.blind-amoeba, .deaf-hard-of-hearing-amoeba, .reading-amoeba, .writing-spelling-amoeba, .physical-amoeba {
  width: 21rem;
  height: 15rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.list li {
 margin-bottom: 0.3rem;
}

