.assistive-tech-h2 {
    color: #253D52;
    position: relative;
    display: flex;
    padding: .25rem;
  
}

  .assistive-tech-information {
    position: relative;
    background-image: linear-gradient(45deg, #FCE8C7, #FFFAEB, #FCE8C7);
    padding: 1rem;
    margin: 2rem;
  }

  .assistive-tech-information::after {
    content: '';
    background-color: #F2BFAD;
    position: absolute;
    inset: 0;
    transform: skewY(-1deg);
    z-index: -1;
  }

  .examples-tech-h2 {
    color: #253D52;
    position: relative;
    padding: .25rem;
  }

  .examples-assistive-tech {
    position: relative;
    background-image: linear-gradient(45deg, #FCE8C7, #FFFAEB, #FCE8C7);
    padding: 1rem;
    margin: 2rem;
  }

  .examples-assistive-tech::after {
    content: '';
    background-color: #F2BFAD;
    position: absolute;
    inset: 0;
    transform: skewY(-1deg);
    z-index: -1;
  }

  .assistive-tech-education-h2 {
    color: #253D52;
    position: relative;
    display: flex;
    padding: .25rem;
  }

.content-container {
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

.learnat-h3 {
  padding-top: 30px;
    color: #4D63B6
}

.learnat-a:link,
.learnat-a:active,
.learnat-a:visited {
    /* color: blue; */
    color: #2D3A8C
}

.learnat-a:focus,
.learnat-a:hover {
  border: none;
  outline: none;
  color: #FFFAEB;
  background-color: #4D63B6;
}

/* .learnat-a:visited {
color: #653CAD;
color: #2D3A8C
} */

.learn-At-image {
    display: flex;
    width: 100%;
    height: 150px;
    align-content: center;
}