body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #253D52;
  font-weight: 500;
}

*:focus {
  outline: 2px solid #253D52;
  box-shadow: 0 0 10px rgba(37, 61, 82, 0.7); 
  padding: 4px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background: #FFFAEB;
  height: 100%;
  background-attachment: fixed;
}